body {
    background-color: #9b835f;
}

.custom-color {
    background-color: #9b835f;
}

.color-custom {
    color: white;
    background-color: #724C21;
    width: 150px;
    height: 60px;
    font-size: 12pt;
    font-weight: bold;
}

.color-font {
    color: white;
}

.color-custom:hover {
    color: #724C21;
    background-color: white;
}

.margin-custom {
    margin-top: 150px;
}

.buton {
    margin: auto;
    width: 20%;
    border: 3px solid #9b835f;
    padding: 10px;
}

.color-custom {
    color: white;
    background-color: #724C21;
    width: 150px;
    height: 60px;
    font-size: 14pt;
    font-weight: bold;
}